
   <footer class="footer-distributed sticky-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                <p class="footer-links">
                    <%= link_to "About Us", pages_about_path, class: "page-scroll" %>
                    <%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>
                </p>
            </div>
            <div class="col-md-6 footer-right d-flex justify-content-end">
                <a href="#" class="m-2"><i class="fa fa-twitter"></i></a>
                <a href="#" class="m-2"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="m-2"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
